.styling-fv {
  background-image: url(../img/haircatalog_03.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 80vw;
  height: 70vh;
  min-height: 300px;
  position: relative
}
